
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 24;
}

.title {
    font-weight: 700;
    font-size: 2rem;
    color: white;

    text-align: center;
    margin: 0 auto;
}

.title-container {
    position: relative;

    width: 100%;

    background-image: url('../image/title-background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-y;

    display: flex;
    align-items: center;

    justify-content: space-between;
}

.hamburger-button {
    background-color: transparent;
}

button {
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkslategray;
}

button:active {
    background-color: darkgray;
}